@charset "UTF8";
*{
    font-family: Arial, helvetica, sans-serif;

}

body{
background-image: linear-gradient(to right, #FAF8EB, #FAD41B );

}

main{
    box-shadow: 5px 5px 15px #54565b56;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
 color: #54565B;
 text-align: center;
 text-shadow: 1px 1px 2px rgba(92, 87, 87, 0.575);
}
h2{
color: #76777B;
}

p{
text-align: justify;
}

